<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<div class="w3-sidebar w3-bar-block w3-black w3-xxlarge" style="width:70px">
  <a class="list-group-item" href="#" class="w3-bar-item w3-button"><i class="fa fa-home fa-fw"></i></a> 
  <a href="http://localhost:4200/camara/1" class="w3-bar-item w3-button"><i class="fa fa-camera fa-fw" aria-hidden="true"></i></a> 
  <a href="http://localhost:4200/camara/2" class="w3-bar-item w3-button"><i class="fa fa-camera fa-fw" aria-hidden="true"></i></a> 
  <a href="http://localhost:4200/camara/3" class="w3-bar-item w3-button"><i class="fa fa-camera fa-fw" aria-hidden="true"></i></a>
  <button (click)="hayNiebla()"> hayNiebla</button>
</div>

<div style="margin-left:70px" height="15px">

<div class="w3-container">
<h2>Surfmotion</h2>
</div>

</div>
      
</body>
</html>